{
  "extends": [
    "airbnb-typescript",
    "prettier",
    "plugin:react/recommended", // Uses the recommended rules from @eslint-plugin-react
    "plugin:@typescript-eslint/recommended", // Uses the recommended rules from @typescript-eslint/eslint-plugin
    "plugin:prettier/recommended"
  ],
  "env": {
    "jest": true,
    "mocha": true
  },
  "globals": {
    "document": true,
    "window": true,
    "navigator": true,
    "localStorage": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "import/order": [
      "warn",
      {
        "groups": ["builtin", "external", ["parent", "sibling"], "index"],
        "newlines-between": "always-and-inside-groups"
      }
    ],
    "react/jsx-sort-props": [
      "warn",
      {
        "callbacksLast": true,
        "shorthandFirst": true,
        "noSortAlphabetically": true
      }
    ],
    "@typescript-eslint/dot-notation": 0,
    "react/display-name": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-implied-eval": 0,
    "@typescript-eslint/no-throw-literal": 0,
    "mport/no-unresolved": 0,
    "react/no-danger": 0,
    "no-console": 0,
    "no-shadow": 0,
    "no-underscore-dangle": 0,
    "no-nested-ternary": 0,
    "react/no-unused-prop-types": "warn",
    "no-return-assign": 0,
    "func-names": 0,
    "react/no-array-index-key": 0,
    "react/require-default-props": 0,
    "react/jsx-props-no-spreading": 0,
    "default-case": 0,
    "consistent-return": 0,
    "react/forbid-prop-types": 0,
    "react/prop-types": 0,
    "array-callback-return": 0,
    "import/prefer-default-export": 0,
    "import/no-named-as-default": 0,
    "sort-keys": 0,
    "jsx-a11y/media-has-caption": 0,
    "react/no-unescaped-entities": 0,
    "no-unused-vars": 0,
    "no-param-reassign": 0,
    "import/no-extraneous-dependencies": 0,
    "no-unused-expressions": 0,
    "no-use-before-define": 0,
    "no-restricted-syntax": 0,
    "camelcase": 0,
    "guard-for-in": 0,
    "no-await-in-loop": 0,
    "radix": 0,
    "no-restricted-globals": 0,
    "react/destructuring-assignment": 0,
    "no-plusplus": 0,
    "jsx-a11y/anchor-has-content": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js"]
      }
    ]
  }
}
